/*
html {
    background: url(../media/logogris.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 20px;
}

.h3 {
    font-size: 13.33333px;
}

.h4 {
    font-size: 10px;
}

.h5 {
    font-size: 8px;
}

.icon-40px {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.icon-50px {
    font-size: 50px;
    height: 50px;
    width: 50px;
}

.icon-80px {
    font-size: 80px;
    height: 80px;
    width: 80px;
}

.padding-5px {
    padding: 5px;
}

.padding-10px {
    padding: 10px;
}

.padding-15px {
    padding: 15px;
}

.margin-5px {
    margin: 5pxpx;
}

.margin-10px {
    margin: 10pxpx;
}

.margin-15px {
    margin: 15pxpx;
}


/*
body {
    background-image: url('../media/mat.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*/


/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {
    .class-name {
        font-size: 16px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .class-name {
        font-size: 30px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .class-name {
        font-size: 40px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .class-name {
        font-size: 48px;
    }
}

.page-holder {
    min-height: 100vh;
}

.button {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}

.footer {
    width: 100%;
    height: 28px;
    border-top: 1px solid #E0E0E0;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

.apidiv {
    text-align: center;
    color: blue;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(36, 35, 35, 0.74);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}